@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
  background-color: #f6f6f6;
  min-width: 500px;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}
